*{
    box-sizing: border-box;
    padding: 0px ;  
    margin: 0px ;
   
}
a{
    text-decoration: none;
    color: white;
}

header{
    background-color: #1E202B;
    width: 100%;
  
   
   

   
}
.navM a{
    
    padding: 5px 25px;
   
    color: white;
    transition: color .5s;
    
}
.navM a:hover{
    color: #009ad8;
}
.navM li{
    padding: 0 10px;
    margin-left: 10px;
    border: 2px solid white;
   
    border-radius: 30px;
    transition: border-color .5s;
}
.navM li:hover {
   
    border-color:#009ad8 ;
    
}
.navH .btn{
    background-color: aliceblue;
}
.navH a img{
    display: inline-block;
}
.navH a .siteContant{
    display: inline-block;
    vertical-align: middle;
    /* margin: 0;
    padding: 0; */
}
/* .navH a{
    width: 20%;
} */
.siteContant h1{
    font-size: larger;
    margin: 0px;
    color: white;
    
}
.siteContant p{
    font-size: medium;
    margin: 0px;
    color: white;
}
body{
    background-color: #1E202B;
}
/* .home{
    height: 100vh;
    background-color: #1E202B;
} */
.homeContent{
   
    background-image: url(../routeweather_netlify_app/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    
    
}
.homeContent input{
    padding: 10px;
    background-color: #1E202B;
    border: 1px solid transparent;
    border-radius: 30px;
    color: white;
    
}
.homeContent button{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 30px;
}
.day1{
background-color:#323544;
border: 1px solid transparent;
border-end-start-radius: 5%;


}
.Aheader1{
    background-color: #2d303d;
    

}
.day2{
    background-color: #262936;
}
.Aheader2{
    background-color: #222531;
}
.day3{
    background-color:#323544;
    border: 1px solid transparent;
border-end-end-radius: 5%;
}
.Aheader3{
        background-color: #2d303d;
}
.API{
    color: white;
}

/* .border-color{
    border-color: transparent;
} */

footer input{
    padding: 10px;
    background-color: #1E202B;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    
}
footer .sign button{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 40px;
}
.icons a{
    
   font-size: 30px;
    color: #009ad8;
    padding: 10px 10px;
 
    border-radius: 50%;
    transition: color .5s;
  
}
.icons a:hover{
    color: white;
    
}
.path a:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 7px;
    background: url(../routeweather_netlify_app/arrow-gray.png) no-repeat;
    margin: 0 10px;

}
.path a{
    text-decoration: underline;
}
.path span {
    color: white;
}
.path{
    background-color: #262936;
    
}
.locationALL{
    background-color: #262936;
    border-radius: 10px;
}

  .locationConent a{
    display: block;
} 
.cInput{
    background-color: transparent;
    border: 1px solid ;
    border-color: white;
    border-radius: 10px;
    color: white;

  }
.cInput:focus{
    border: 1px solid  #009ad8;
  }
  .formC textarea{
    background-color: transparent;
    border: 1px solid ;
    border-color: white;
    border-radius: 10px;
    color: white;
  }
 #day1-temp::after{
    content: " O C";
 }
